﻿body {
    padding: 20px;
}

.slider-container {
    border: 1px solid blue;
}

.range-label {
    display: table-cell;
    white-space: nowrap;
}

.range-container {
    display: table-cell;
    height: 30px;
    padding: 5px;
    width: 100%;
}

.slider {
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    background: linear-gradient(to right, blue 50%, lightgray 50%);
    height: 5px;
    margin-top: 12px;
    border-radius: 5px;
}

    .slider:focus {
        outline: none;
    }

    .slider:hover {
        cursor: pointer;
    }

    .slider::-webkit-slider-runnable-track {
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: white;
        border: 1px solid #ADADAD;
        box-shadow: 0 1px 5px rgba(0,0,0,.4);
        width: 20px;
        height: 20px;
        margin-top: -1px;
        border-radius: 50%;
    }


output {
    position: absolute;
    background-image: linear-gradient(#444444, #999999);
    width: 40px;
    height: 30px;
    text-align: center;
    color: white;
    border-radius: 10px;
    display: inline-block;
    font: bold 15px/30px Georgia;
    bottom: 175%;
    left: 0;
    margin-left: -1%;
}

    output:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 10px solid #999999;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        margin-top: -1px;
    }

form {
    position: relative;
    margin: 50px;
}
