﻿html {
    background-image: -webkit-linear-gradient(bottom, #F4E2C9 20%, #F4D7C9 100%);
    background-image: linear-gradient(to bottom, #F4E2C9 20%, #F4D7C9 100%);
}

html, body {
    margin: 0;
    padding: 0;
    position: relative;
    color: #464637;
    min-height: 100%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}





ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
    min-width: 1100px;
    max-width: 1300px;
    position: relative;
}








.title {
    color: #fff;
    padding: 3px 10px;
    display: inline-block;
    position: relative;
    background-color: #FF7373;
    z-index: 1000;
}

.title_xl {
    padding: 3px 15px;
    font-size: 40px;
}










.block__list {
    padding: 20px 0;
    max-width: 360px;
    margin-top: -8px;
    margin-left: 5px;
    background-color: #fff;
}

.block__list-title {
    margin: -20px 0 0;
    padding: 10px;
    text-align: center;
    background: #5F9EDF;
}

.block__list li {
    cursor: move;
}

.block__list_words li {
    background-color: #fff;
    padding: 10px 40px;
}

.block__list_words .sortable-ghost {
    opacity: 0.4;
    background-color: #F4E2C9;
}

.block__list_words li:first-letter {
    text-transform: uppercase;
}

.block__list_tags {
    padding-left: 30px;
}

    .block__list_tags:after {
        clear: both;
        content: '';
        display: block;
    }

    .block__list_tags li {
        color: #fff;
        float: left;
        margin: 8px 20px 10px 0;
        padding: 5px 10px;
        min-width: 10px;
        background-color: #5F9EDF;
        text-align: center;
    }





#editable li {
    position: relative;
}

#editable i {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    opacity: 0;
    display: block;
    cursor: pointer;
    color: #c00;
    top: 10px;
    right: 40px;
    position: absolute;
    font-style: normal;
}

#editable li:hover i {
    opacity: 1;
}


#filter {
}

    #filter input {
        text-align: center;
        width: 95%;
        border: inherit;
        background: #C7D5FC;
        margin: 10px 5px 0;
        transition: opacity .1s ease;
        cursor: pointer;
        padding: 10px 0;
        font-size: 20px;
    }


    #filter button {
        color: #fff;
        width: 100%;
        border: none;
        outline: 0;
        opacity: .5;
        margin: 10px 0 0;
        transition: opacity .1s ease;
        cursor: pointer;
        background: #5F9EDF;
        padding: 10px 0;
        font-size: 20px;
    }

        #filter button:hover {
            opacity: 1;
        }

    #filter .block__list {
        padding-bottom: 0;
    }

.drag-handle {
    margin-right: 10px;
    font: bold 20px Sans-Serif;
    color: #5F9EDF;
    display: inline-block;
    cursor: move;
    cursor: -webkit-grabbing; /* overrides 'move' */
}

#todos input {
    padding: 5px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


#nested ul li {
    background-color: rgba(0,0,0,.05);
}
